$logo-text-color: #ff6537
$logo-text-font-style: italic bold
$logo-text-fonr-size: 48px

body

.logoText
  font: $logo-text-font-style $logo-text-fonr-size "Lucida Grande", Lucida, Verdana, sans-serif
  color: $logo-text-color
  text-align: center
  text-shadow: gray 3px 5px 5px
  margin-top: -28px