<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="description" content="MOPCON 2013 | 行動科技應用開發者年會 | Mobile Open Platform Conference">
<meta name="author" content="MOPCON.org">

<meta content="MOPCON 2013 | Mobile / Open / Platform Conference" property="og:title">
<meta content="http://mopcon.org" property="og:url">
<meta content="Mobile / Open / Platform Conference (MOPCON) 行動科技應用開發者年會，是全台第一個針對移動式裝置的技術研討會，堅持舉辦在濁水溪以南的技術年會，希望大家共同來參與。" property="og:description">
<meta content="http://mopcon.org/img/snapshot.png" property="og:image">
<meta content="website" property="og:type">
<meta content="MOPCON 2013 | 行動科技應用開發者年會 | Mobile Open Platform Conference" property="og:site_name">

<meta name="google-translate-customization" content="872662db03c1ade2-296aa6b139f3956d-gb831f9b020eaa381-a"></meta>